<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Index</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/fav.png">

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link th:href="@{vendor/unicons-2.0.1/css/unicons.css}" rel="stylesheet">
    <link th:href="@{css/vertical-responsive-menu.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/responsive.css}" rel="stylesheet">
    <link th:href="@{css/night-mode.css}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{vendor/OwlCarousel/assets/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{vendor/OwlCarousel/assets/owl.theme.default.min.css}" rel="stylesheet">
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{vendor/semantic/semantic.min.css}">

</head>

<body>
<footer th:fragment="footer" class="footer mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="item_f1">
                    <a href="../about_us.html">About us</a>
                    <a href="our_blog.html">Geolocation</a>
                    <a th:href="@{/contact}">Contact</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="footer_bottm">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="fotb_left">
                                <li>
                                    <a href="../index.html">
                                        <div class="footer_logo">
                                            <img src="images/logo1.svg" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>© 2020 <strong>Drop.io</strong>. All Rights Reserved.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="edu_social_links">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/?lang=ro"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.google.ro/?hl=ro"><i class="fab fa-google-plus-g"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                <a href="https://ro.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
