<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Index</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/fav.png">

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link th:href="@{vendor/unicons-2.0.1/css/unicons.css}" rel="stylesheet">
    <link th:href="@{css/vertical-responsive-menu.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/responsive.css}" rel="stylesheet">
    <link th:href="@{css/night-mode.css}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{vendor/OwlCarousel/assets/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{vendor/OwlCarousel/assets/owl.theme.default.min.css}" rel="stylesheet">
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{vendor/semantic/semantic.min.css}">

</head>

<body>
<!-- Header Start -->
<header th:insert="fragments/header.html :: header"></header>

<!-- Header End -->
<!-- Left Sidebar Start -->
<nav th:insert="fragments/left-bar.html :: nav"></nav>
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="section3125 mt-50">
                    <h4 class="item_title">Uploaded images</h4>
                    <div class="la5lo1">
                        <div class="owl-carousel featured_courses owl-theme">
                            <div class="item" th:each="image : ${images}">
                                <div class="fcrse_1 mb-20">
                                    <img th:src="${'data:image/jpeg;base64,' + image}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section3125 mt-50">
                    <h4 class="item_title">Uploaded videos</h4>
                    <div class="la5lo1">
                        <div class="owl-carousel featured_courses owl-theme">
                            <div class="item" th:each="video : ${videos}">
                                <video controls>
                                    <source type="video/webm" th:src="${'data:video/webm;base64,' + video}"/>
                                    <source type="video/mp4" th:src="${'data:video/mp4;base64,' + video}"/>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section3125 mt-50">
                    <h4 class="item_title">Uploaded audios</h4>
                    <div class="la5lo1">
                        <div class="owl-carousel featured_courses owl-theme">
                            <div class="item" th:each="audio : ${audios}">
                                <div class="fcrse_1 mb-20">
                                    <audio controls>
                                        <source type="audio/ogg" th:src="${'data:audio/ogg;base64,' + audio}"/>
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer.html :: footer"></footer>
<!-- Body End -->

<script th:src="@{js/vertical-responsive-menu.min.js}"></script>
<script th:src="@{js/jquery-3.3.1.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{vendor/OwlCarousel/owl.carousel.js}"></script>
<script th:src="@{vendor/semantic/semantic.min.js}"></script>
<script th:src="@{js/custom.js}"></script>
<script th:src="@{js/night-mode.js}"></script>


</body>

</html>
